.title {
  font-family: Merriweather;
  color: #fff;
  line-height: 130%;
  font-size: 1.875rem;
}
.title--dark {
  color: #222f33;
}

@media (max-width: 47.9988em) {
  .title {
    font-size: 1.5rem;
  }
}
.text {
  line-height: 185%;
}
.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}