.footer {
  background-color: #222f33;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
}
.footer__container {
  display: grid;
  column-gap: 0.9375rem;
  row-gap: 20px;
  color: #fff;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 37.5em) {
  .footer__container {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
}
.footer__mail {
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.6;
  position: relative;
  width: max-content;
}
.footer__mail::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 3px;
  background-color: #fff;
  height: 2px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .footer__mail:hover::after {
    width: 100%;
  }
}
.footer__logo {
  justify-self: center;
}

.menu-footer {
  justify-self: end;
  display: flex;
  gap: 1.875rem;
  align-items: center;
  opacity: 0.6;
}
.menu-footer__link {
  font-size: 0.75rem;
  font-weight: 500;
  position: relative;
}
.menu-footer__link::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 3px;
  background-color: #fff;
  height: 2px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .menu-footer__link:hover::after {
    width: 100%;
  }
}