.footer {
  background-color: #222f33;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
}
.footer__container {
  display: grid;
  column-gap: 0.9375rem;
  row-gap: 20px;
  color: #fff;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 37.5em) {
  .footer__container {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
}
.footer__mail {
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.6;
}
@media (any-hover: hover) {
  .footer__mail:hover {
    text-decoration: underline;
  }
}
.footer__logo {
  justify-self: center;
}

.menu-footer {
  justify-self: end;
  display: flex;
  gap: 1.875rem;
  align-items: center;
  opacity: 0.6;
}
.menu-footer__link {
  font-size: 0.75rem;
  font-weight: 500;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}