.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}
.header.scroll::before {
  opacity: 1;
}
.header__container {
  display: flex;
  position: relative;
  z-index: 2;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  min-height: 6.5625rem;
}
.header__logo {
  overflow: hidden;
}
.header__logo img {
  width: 8.4375rem;
}
.header__body {
  display: flex;
  align-items: center;
  column-gap: 2.6875rem;
}
.header__button {
  padding: 0.625rem 1.3125rem;
  background-color: #fff;
  border-radius: 0.25rem;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .header__button:hover {
    background-color: #333;
    color: #fff;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2.5rem;
  row-gap: 0.625rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}
.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 39.0625em) {
  .header__container {
    min-height: 70px;
  }
  .header__body {
    column-gap: 1.25rem;
  }
  .header__button {
    padding: 0.625rem 0.9375rem;
  }
  .header__logo {
    flex: 0 0 2.0625rem;
  }
  .menu__list {
    column-gap: 1.25rem;
    font-size: 14px;
  }
}
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/