.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  transition: all 0.3s ease 0s;

  &._header-scroll {
    transform: translate(0, -100%);
    background-color: rgba(0, 0, 0, 0.5);

    .header__container {
      min-height: 60px;
    }
  }

  &._header-show {
    transform: translate(0, 0);
  }

  &__container {
    display: flex;
    position: relative;
    z-index: 2;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    min-height: 6.5625rem;
    transition: min-height 0.3s ease 0s;
  }

  &__logo {
    overflow: hidden;

    & img {
      width: 8.4375rem;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    column-gap: 2.6875rem;
  }

  &__button {
    padding: 0.625rem 1.3125rem;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: all 0.3s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 0.625rem;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
  }

  &__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 39.0625em) {

  .header {
    &__container {
      min-height: 70px;
    }

    &__body {
      column-gap: 1.25rem;
    }

    &__button {
      padding: 0.625rem 0.9375rem;
    }

    &__logo {
      flex: 0 0 2.0625rem;
    }
  }

  .menu__list {
    column-gap: 20px;
    font-size: 14px;

    @media (max-width: $mobileSmall) {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 100px 15px 30px 15px;
      background: linear-gradient(to right, rgba(100, 109, 112, .9) 0, #646d70 25%, #646d70 100%);
      transition: right .3s ease-in-out;
      overflow: auto;
      row-gap: 40px;
      flex-wrap: nowrap;

      &:before {
        content: '';
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: #646d70;
        top: 0;
        right: -100%;
        transition: right .3s ease-in-out;
      }
    }

    .menu-open & {
      right: 0;
      height: 100vh;

      &:before {
        right: 0;
      }
    }


  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: $mobileSmall) {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;

    @media (any-hover: none) {
      cursor: default;
    }

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 0.125rem;
      background-color: #fff;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - 0.0625rem);
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {}

      &::before {
        top: calc(50% - 0.0625rem);
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - 0.0625rem);
        transform: rotate(45deg);
      }
    }
  }
}