//====================================================================================================
.main-section {
  min-height: 100vh;
  position: relative;
  display: flex;

  &__container {
    padding-top: 5.625rem;
    padding-bottom: 3.125rem;
    position: relative;
    z-index: 2;
    gap: 1.25rem;
    grid-template-columns: 54.320988% 1fr;
    align-items: center;
    display: grid;
    flex: 1 1 auto;
  }

  @media (max-width: 43.75em) {
    &__container {
      grid-template-columns: auto;
      align-content: center;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &__video-link {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
    &::before {
      content: '';
      width: 2rem;
      height: 2rem;
      flex: 0 0 2rem;
      border-radius: 50%;
      background: url('../img/main/play.svg') left no-repeat;
    }
  }

  @media (min-width: 43.75em) {
    &__video-link {
      justify-self: center;
    }
  }
  
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    
    @media (max-width: 43.75rem) {
      & img {
        opacity: 0.6;
      }
    }
  }
}

//====================================================================================================
