//====================================================================================================
.main-section {
  min-height: 100vh;
  position: relative;
  display: flex;

  &__container {
    padding-top: 5.625rem;
    padding-bottom: 3.125rem;
    position: relative;
    z-index: 2;
    gap: 1.25rem;
    grid-template-columns: 54.320988% 1fr;
    align-items: center;
    display: grid;
    flex: 1 1 auto;
  }

  @media (max-width: 43.75em) {
    &__container {
      grid-template-columns: auto;
      align-content: center;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &__video-link {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
    transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
    padding: 0.9375rem;
    border-radius: 0.625rem;
    width: max-content;

    @media (any-hover: hover) {
      &:hover {
        background-color: $mainColor;
        opacity: 0.6;
      }
    }

    &::before {
      content: '';
      width: 2rem;
      height: 2rem;
      flex: 0 0 2rem;
      border-radius: 50%;
      background: url('../img/main/play.svg') left no-repeat;
    }
  }

  @media (min-width: 43.75em) {
    &__video-link {
      justify-self: center;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    @media (max-width: 43.75rem) {
      & img {
        opacity: 0.6;
      }
    }
  }
}

//====================================================================================================

.main-section {
  min-height: 100vh;
  position: relative;
  display: flex;

  &__container {
    padding-top: 5.625rem;
    padding-bottom: 3.125rem;
    position: relative;
    z-index: 2;
    gap: 1.25rem;
    grid-template-columns: 54.320988% 1fr;
    align-items: center;
    display: grid;
    flex: 1 1 auto;
  }

  @media (max-width: 43.75em) {
    &__container {
      grid-template-columns: auto;
      align-content: center;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &__video-link {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;

    &::before {
      content: "";
      width: 2rem;
      height: 2rem;
      flex: 0 0 2rem;
      border-radius: 50%;
      background: url("../img/main/play.svg") left no-repeat;
    }
  }

  @media (min-width: 43.75em) {
    &__video-link {
      justify-self: center;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    @media (max-width: 43.75rem) {
      & img {
        opacity: 0.6;
      }
    }
  }
}

//====================================================================================================

/* Секція Матеріали */
.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
}

.materials {
  position: relative;
  z-index: 2;

  &__container {
    position: relative;
    padding-bottom: 1.25rem;
    z-index: 2;
    display: grid;
    grid-template-columns: 50% minmax(17.5rem, 20.3125rem);
    justify-content: space-between;
    align-items: start;
    gap: 1.25rem;
    min-width: 0;
  }

  &__content {
    padding-top: 1.5625rem;
    display: grid;
    gap: 0.8125rem;
    justify-items: start;
  }

  &__more {
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.625rem 0.875rem;
    border: 1px solid #646d70;
    transition: all 0.3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }

  &__slider {
    transform: translate(0, -20.765027%);
  }
}

.slider-materials {
  position: relative;

  &__slide {
    aspect-ratio: 325 / 366;
    position: relative;

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.3125rem 1rem 0.3125rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    & .swiper-pagination-bullet {
      flex: 0 0 0.5rem;
      height: 0.5rem;
      background-color: #fff;
      opacity: 0.4;
      border-radius: 50%;
      cursor: pointer;
      transition: opacity 0.3s;
    }

    & .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}

@media (min-width: 47.9988em) {
  .materials::before {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 2.3125rem;
    transform: translate(0px, -100%);
    width: 61.7%;
  }

  .materials::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8.75rem;
    background-color: #222f33;
    width: 38.3%;
    /* 383/1000 */
  }
}

@media (max-width: 47.9988em) {
  .materials {
    &__container {
      grid-template-columns: auto;
    }

    &__slider {
      transform: translate(0, 0);
    }
  }
}

//====================================================================================================

.inovate {
  background-color: #222f33;
  padding: 70px 0px 80px 0px;

  @media (max-width: 47.9988em) {
    padding: 1.875rem 0px;
  }

  &__title:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__text {
    color: #fff;
    columns: 2 15.625rem;
    gap: 2.6875rem;
  }
}

//====================================================================================================

.info {
  padding-top: 5.3125rem;
  padding-bottom: 5.3125rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.6875rem;
    row-gap: 1.875rem;
  }

  &__image {
    text-align: center;

    & img {
      max-width: 100%;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.75rem;
    row-gap: 2.3125rem;
  }

  &__title {
    font-family: Merriweather;
    color: #222f33;
    font-size: 1.125rem;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__text {
    font-size: 0.75rem;
  }
}

@media (max-width: 52.5em) {
  .info {
    &__content {
      column-gap: 1.25rem;
    }

    &__container {
      column-gap: 1.5625rem;
    }
  }
}

@media (max-width: 47.9988rem) {
  .info {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &__container {
      grid-template-columns: auto;
    }

    &__image {
      order: 2;
    }

    &__content {
      order: 1;
    }
  }
}